<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid nav">
        <a class="navbar-brand" href="/">
            <img src="/image/logo-2.svg" alt="Logo"  class="d-inline-block align-text logo">
            Nivaasi
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="/">Explore</a>
                <a class="nav-link" href="/listings">Browse Stays </a>
                <a class="nav-link" href="/listings/new">List Your Place</a>
            </div>
        </div>
    </div>
</nav>