<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h2 style="text-align: center;">Create a Listing</h2>
                <form method="POST" action="/listings" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label" >Title</label>
                        <input type="text" name="listing[title]" class="form-control" required
                            placeholder="Add a Title">
                            <div class="valid-feedback">Title Looks good!</div>
                            <div class="invalid-feedback">Give your stay a catchy title. </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" name="listing[description]" class="form-control" required
                            placeholder="Enter Description"></textarea>
                            <div class="invalid-feedback">Describe what makes this place special. </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image]" class="form-control" placeholder="Enter Image URL">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" class="form-control" required placeholder="1500">
                            <div class="invalid-feedback">Set a price per night.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" class="form-control" required
                                placeholder="Bangladesh">
                                <div class="invalid-feedback">Which country is your place in?</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" required
                            placeholder="Mirpur,Dhaka">
                            <div class="invalid-feedback">Add the exact location of your place</div>
                    </div>
                    <button class="btn mb-3 mt-3 add-btn">Add Listing</button>
                </form>
            </div>
        </div>
    </body>