body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.logo {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 10px; 
}
.navbar-nav{
    margin-right: 1rem;
}
.search-btn{
    background-color: #fe424d !important;
    color: white !important;
    width: 12rem !important;
    border-radius: 25px !important;

}
.search-btn:hover{
    background-color: #fe424d;
    color: white;
    
}
.search-btn i{
    display: inline !important;
    margin-right: 0.5rem;
}
.search-input{
    border-radius: 25px !important;
    padding: 0.5rem 3rem 0.5rem 3rem !important;
}


.nav-link {
    color: #222222 !important;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.5s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #fe424d;
    transition: width 0.5s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card,
.home-card,
.show-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.description-truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* card-effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* addlisting */
.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    color: #ebebeb !important;
    border: none !important;
}

/* show  */

.show-img {
    height: 40vh;
}

.btn-cls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem !important;
    column-gap: 2rem;
}

.showedit-btn {
    background-color: #fe424d !important;
    color: #ebebeb !important;
    border: none !important;
    width: 14rem !important;
}

.del-btn {
    background-color: #222222 !important;
    color: #ebebeb !important;
    border: none !important;
    width: 14rem !important;
}
.review-submit
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-submit-btn{
    width: 10rem;
}
.review-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
.ratings{
    display: flex;
    gap: 10px;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.edit-prev-img img{
    height: 32vh;
    margin-bottom: 1rem;
    border-radius: 1rem;
}


@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #f8f8f8;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-collapse .nav-link {
        padding: 0.75rem 0;
        transition: none;
    }

    .navbar-collapse .nav-link::after {
        display: none;
    }

    .navbar-collapse .nav-item:last-child .nav-link {
        border-bottom: none;
    }

    .navbar-collapse .nav-link:hover {
        color: #333;
        border-bottom: 2px solid #555;
        transition: border-bottom 0.5s ease, color 0.5s ease;
    }
    .show-img{
        height: 40vh;
    }
    .btn-cls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -1.5rem !important;
        column-gap: 2rem;
        row-gap: 1rem;
    }
    .showedit-btn ,
    .del-btn {
        width: 11rem !important;
    }
    .author{
        font-size: 1rem;
    }
}